<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Automatic status emails via cronjob</label>
    <label lang="de">Automatische Status E-Mails per Cronjob</label>
    <version>1.1.1</version>
    <copyright>(c) 3.0</copyright>
    <license>proprietary</license>
    <link>https://dreipunktnull.com</link>
    <author>Björn Fromme, 3.0</author>
    <compatibility minVersion="5.5.0" />
    <changelog version="1.0.0">
        <changes>Initial plugin release</changes>
        <changes lang="de">Erster Plugin Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes>Avoids an exception caused by missing config</changes>
        <changes lang="de">Vermeidet eine Exception bei fehlender Konfiguration</changes>
    </changelog>
    <changelog version="1.0.2">
        <changes>Considers subshop configuration</changes>
        <changes lang="de">Berücksichtigt die Konfiguration von Subshops</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes>Adds cronjob configuration options</changes>
        <changes lang="de">Fügt weitere Konfigurationsmöglichkeiten des Cronjobs hinzu</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes>Adds compatibility to Shopware 5.7</changes>
        <changes lang="de">Kompatibilität mit Shopware 5.7</changes>
    </changelog>
    <description>
        <![CDATA[
        <b>Automatic status emails (Cron version)</b><br>
        <p>Using this plugin notification emails for order- and payment status changes via backend or the API can be
        sent automatically. The status to send emails for are configurable. Manual sending of status emails is
        deactivated for selected status to avoid duplicates. <b>This plugin detects changes in status written directly
        to the database as well thus making it compatible to any inventory management system</b>. Unlike our other
        status email plugin (API version) this plugin doesn't send emails immediately. Processing of status is triggered
        by a cronjob (every 15 minutes by default). In addition the plugin can be configured to send emails per status
        only one time to avoid duplicates.</p>
        <p><b>Please note:</b> It is not possible to attach documents when using the batch processing feature. According
        fields are therefore deactivated when installing this plugin.</p>
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
        <b>Automatische Status E-Mails (Cron Version)</b><br>
        <p>Mit Hilfe dieses Plugins lässt sich der Versand von E-Mail Benachrichtigungen bei Änderungen am Bestell- oder
        Zahlungsstatus automatisieren. Der Versand erfolgt dabei sowohl <b>bei manueller Änderung über das Shopware
        Backend als auch bei Änderungen über die API wie z. B. bei Nutzung einer Warenwirtschaft/CRM Software.</b></p>
        <p><b>Hierbei werden auch Änderungen, die direkt in die Shopware Datenbank geschrieben werden, berücksichtigt,
        was Kompatibilität mit fast allen Warenwirtschaftssystemen ermöglichen sollte.</b></p>
        <p>Die Status, für die E-Mail Benachrichtigungen versendet werden sollen, sind konfigurierbar. Bei manueller
        Änderung eines Status über das Backend wird das bisherige Popup Fenster zum E-Mail Versand für die
        konfigurierten Status deaktiviert. Im Gegensatz zu unserem anderen Status E-Mail Plugin (API Version) erfolgt
        der Versand der E-Mails nicht unmittelbar sondern wird über einen regelmäßig ausgeführten Cronjob (standardmäßig
        alle 15 Minuten) getriggert. Darüber hinaus bietet dieses Plugin die Möglichkeit, Benachrichtigungen nur ein Mal
        je Status versenden zu lassen, um doppelte E-Mails zu vermeiden.</p>
        <p><b>Bitte beachten:</b> Bei manueller Stapelverarbeitung über das Backend ist kein Versand von Dokumenten
        möglich. Die entsprechenden Felder werden daher bei Installation des Plugins deaktiviert.</p>
        ]]>
    </description>
    <requiredPlugins>
        <requiredPlugin pluginName="Cron" />
    </requiredPlugins>
</plugin>
