<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="combo">
            <name>dpnOrderStatus</name>
            <label>Order Status</label>
            <label lang="de">Bestellstatus</label>
            <description>Order status to send emails for</description>
            <description lang="de">Bestellstatus, bei denen E-Mails versendet werden sollen</description>
            <store>Shopware.store.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element type="combo">
            <name>dpnPaymentStatus</name>
            <label>Payment Status</label>
            <label lang="de">Zahlungsstatus</label>
            <description>Payment status to send emails for</description>
            <description lang="de">Zahlungsstatus, bei denen E-Mails versendet werden sollen</description>
            <store>Shopware.store.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element type="boolean">
            <name>dpnSendOneTimePerStatus</name>
            <label>Send one time</label>
            <label lang="de">Einmaliger Versand</label>
            <value>false</value>
            <description>Send status emails only one time per status and status change</description>
            <description lang="de">E-Mails nur einmal je Status bei Änderung versenden</description>
        </element>
        <element type="number">
            <name>dpnMaxEmailsPerRun</name>
            <label>Maximum emails count</label>
            <label lang="de">Maximale Anzahl an E-Mails</label>
            <value>10</value>
            <description>Limit number of email to be sent for each cron run to this value</description>
            <description lang="de">Die maximale Anzahl an E-Mails, die in jedem Cron Durchlauf versendet werden</description>
        </element>
        <element type="date">
            <name>dpnEmailsDateFrom</name>
            <label>Starting from</label>
            <label lang="de">Beginnend ab</label>
            <description>Send emails for orders placed after this date only</description>
            <description lang="de">E-Mails nur für Bestellungen versenden, die nach diesem Datum aufgegeben wurden</description>
        </element>
    </elements>

</config>
